<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OperatorRequestPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vigruzki.rkn.gov.ru/services/OperatorRequest/"
                binding="basicHttpBinding" bindingConfiguration="OperatorRequestPortBinding"
                contract="ServiceReference.OperatorRequestPortType" name="OperatorRequestPort" />
        </client>
    </system.serviceModel>
</configuration>